<fieldset>
    <legend>New Contact Form</legend>
    <form class="form_class" onsubmit="return createNewContact(event)">
        <label>Name:   <br/><input type="text" id="name">   <br/></label>
        <label>Surname:<br/><input type="text" id="surname"><br/></label>
        <label>Phone:  <br/><input type="text" id="phone">  <br/></label>
        <label>Email:  <br/><input type="text" id="email">  <br/></label>
        <input type="submit" value="Create"">
    </form>
</fieldset>