<head>
    <title>ContactsBook - WebClient</title>
    #*Импорт JS файлов и библиотек*#
    <script>
        #include("/templates/velocity/js/lib/jquery-3.3.1.js");
        #include("/templates/velocity/js/index.js")
    </script>
    #*Импорт CSS файлов*#
    <style type="text/css">
        #include("/templates/velocity/css/index.css");
    </style>
</head>