<html>
    #parse("templates/velocity/header.vm")
    <body onload="getAllContacts()">
        <div class="div_left">
            #parse("templates/velocity/contacts_list.vm")
        </div>
        <div class="div_right">
            #parse("templates/velocity/contacts_form.vm")
        </div>
    </body>
</html>
